<div id="posts">
	<% @posts.each do |post| %>
		<%= render :partial => 'post', :locals => { post: post } %>
	<% end %>
</div>

<div id="sidebar">
	<div class="action">
		<%= link_to 'Submit a new link', :new_link_path %>
	</div>
	<div class="action">
		<%= link_to 'Submit a new text post', :new_post_path %>
	</div>
	<div class="action">
		<a href="#">Create your own subreddit</a>
	</div>
</div>