#feed
{
	padding-top: 10px;
	width: 80%;
}

.position
{
	float: left;
	width: 50px;
	color: #DBCC86;
	font-size: 16px;
	text-align: center;
	line-height: 75px;
}

.rating
{
	float: left;
	width: 50px;
	color: #DBCC86;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.content
{
	float: left;
	color: #382313;
}

.arrow
{
	font-size: 14px;
	font-weight: bold
}

.clear
{
	clear: both;
}

.info
{
	color: #aaa;
	font-size: 11px;
}

.info a
{
	color: #6F6FFC;
}
