.upvote, .downvote
{
	opacity: 0.25;

	&.active, &:hover
	{
		opacity: 1
	}

	&:hover
	{
		cursor: pointer
	}
}

#posts
{
	padding-top: 10px;
	width: 80%;
}

.rating
{
	float: left;
	color: #DBCC86;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	width: 60px
}

.content
{
	float: left;
	color: #382313;
	font-size: 20px
}

.arrow img
{
}

.clear
{
	clear: both;
}

.info
{
	color: #aaa;
	font-size: 11px;
}

.info a
{
	color: #6F6FFC;
}
